# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# vim's edit files
*~
*/*~

# something more (probably from compilation
*.swp
*/*.swp

build/opt/*
build/debug/*
